@import "tailwindcss";
@source "../index.php";
@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.locaties {
    @apply rounded-sm bg-white m-1 flex flex-col items-start w-full;
}

.headLinks {
    @apply m-2 text-2xl;
}

@layer components {
    .page-container {
        @apply max-w-7xl mx-auto px-4;
    }
}