@import "tailwindcss";
@source "../index.php";
@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.locaties {
    @apply rounded-sm bg-white m-1 flex flex-col items-start;
    width: 20vw;
}

.headLinks{
    @apply m-2 text-2xl;
}

.films{
    @apply h-[22vw] bg-violet-400;
}

@layer components {
  .page-container {
    @apply max-w-7xl mx-auto px-4;
  }
}
